{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
<div class="container mt-5">
    <h1 class="mb-4">Сайты</h1>
    <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
        </tr>
    </thead>
    <tbody>
        {% for url in urls %}
            <tr>
                <td>{{ url[0] }}</td>
                <td><a href="{{ url_for('url_detail', url_id=url[0]) }}">{{ url[1] }}</a></td>
                <td>{{ url[2] }}</td>
                <td>{{ url[3] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    <a href="{{ url_for('index') }}" class="btn btn-secondary">Назад</a>
</div>
{% endblock %}